<ul class="dropdown-menu">
    <!--Not in use-->
    <!--<li><a class="dropdown-item" href="/clinic/map">Map</a></li>
    <li><a class="dropdown-item" href="/clinic/list">List</a></li>-->

    <!--In use-->
    <li><a class="nav-link" href="/base.html">Home?</a></li>

    <li><a class="nav-link" href="/blogs">Blogs</a></li>
    <li><a class="nav-link" href="/aboutus">About Us</a></li>

</ul>


<ul class="dropdown-menu">
    <div class="container text-center">
        <div class="row">
            <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/base.html">Home?</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/aboutus.html">About Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/blank_form.html">Blank Form</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/blog.html">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/blogform.html">Blog Form</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/commentform.html">Comment Form</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/index.html">Index</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/login.html">Login</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/profileform.html">Profile Form</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/profilemy.html">Profile My</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ul>

<ul class="dropdown-menu">
    <!--Not in use-->
    <!--<li><a class="dropdown-item" href="/clinic/map">Map</a></li>
    <li><a class="dropdown-item" href="/clinic/list">List</a></li>-->

    <!--In use-->
    <li><a class="nav-link" href="/base.html">Home?</a></li>
    <li><a class="nav-link" href="/aboutus.html">About Us</a></li>
    <li><a class="nav-link" href="/blank_form.html">Blank Form</a></li>
    <li><a class="nav-link" href="/blog.html">Blog</a></li>
    <li><a class="nav-link" href="/blogform.html">Blog Form</a></li>
    <li><a class="nav-link" href="/blogs">Blogs</a></li>
    <li><a class="nav-link" href="/commentform.html">Comment Form</a></li>
    <li><a class="nav-link" href="/index.html">Index</a></li>
    <li><a class="nav-link" href="/login.html">Login</a></li>
    <li><a class="nav-link" href="/profileform.html">Profile Form</a></li>
    <li><a class="nav-link" href="/profilemy.html">Profile My</a></li>


</ul>

<ul class="dropdown-menu">
    <div class="container text-center">
        <div class="row">
            <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
                <ul class="navbar-nav">
                    
                </ul>
            </div>
        </div>
    </div>
</ul>