  <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;">
    <li class="nav-item">
      <a class="nav-link" href="/blogs">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/eventlocations">Event Locations</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Site Links
      </a>
      <ul class="dropdown-menu">
        <div class="container text-center">
          <div class="row">
            <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
              <!--In Use Functional-->
              <li><a class="nav-link" href="/aboutus">About Us</a></li>
              <li><a class="nav-link" href="/carbonvulnerability">Carbon Vulnerability</a></li>
              <li><a class="nav-link" href="/fireprogressionvisualization">Fire Progression Visualization Tool</a>
              </li>

              <!--Functional Not For User-->

              <!--Non-Functional-->

              <!--Not In Use-->
              <!--
                <li><a class="dropdown-item" href="/eventlocation/map">Map</a></li>
                <li><a class="dropdown-item" href="/eventlocation/list">List</a></li>
              -->

              <!--All Links-->
              <!--
                <li><a class="nav-link" href="/base">Home?</a></li>
                <li><a class="nav-link" href="/aboutus">About Us</a></li>
                <li><a class="nav-link" href="/blank_form">Blank Form</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/blogform">Blog Form</a></li>
                <li><a class="nav-link" href="/blogs">Blogs</a></li>
                <li><a class="nav-link" href="/commentform">Comment Form</a></li>
                <li><a class="nav-link" href="/index">Index</a></li>
                <li><a class="nav-link" href="/login">Login</a></li>
                <li><a class="nav-link" href="/profileform">Profile Form</a></li>
                <li><a class="nav-link" href="/profilemy">Profile My</a></li>
              -->
            </div>
          </div>
        </div>
      </ul>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% if current_user.is_anonymous %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>

    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/myprofile">
        {{ current_user.gname }}
      </a>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
    {% endif %}
    </li>
  </ul>
</div>