<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid mb-3">
      <!---->
      <a class="navbar-brand" href="#">
        <!--image/logo fill in-->
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-globe-americas"
          viewBox="0 0 16 16">
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
        </svg>
        <!---->
      </a>
      <!---->
      <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;">
          <div class="container-fluid mb-3">
            <div class="text-white">
              <h4>Recording Events APP</h4>
            </div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blogs</a>
          </li>
          <li>
            <a class="nav-link" href="/clinic/list">Event list</a>
          </li>
          <!---->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Site Links
            </a>
            <ul class="dropdown-menu">
              <div class="container text-center">
                <div class="row">
                  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
                    <!--In Use Functional-->
                    <li><a class="nav-link" href="/aboutus">About Us</a></li>
                    <li><a class="nav-link" href="/clinic/map">Maps</a></li>
                  </div>
                </div>
              </div>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }}
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Navbar -->
</header>
<br><br><br><br>