<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;"> 
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clinics
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/clinic/map">Map</a></li>
            <li><a class="dropdown-item" href="/clinic/list">List</a></li>
          </ul>
        </li>
        <li>
      </li> 
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
            
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>




  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link active" aria-current="page" href="base.html">- base/Home Page?</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="aboutus.html">- aboutus.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="blank_form.html">- blank_form.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="blog.html">- blog.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="blogform.html">- blogform.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="blogs.html">- blogS.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="commentform.html">- commentform.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="index.html">- index.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="login.html">- login.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="profileform.html">- profileform.html</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="profilemy.html">- profilemy.html</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" href="#">
        <img src="https://d32qe1r3a676y7.cloudfront.net/eyJidWNrZXQiOiJibG9nLWVjb3RyZWUiLCJrZXkiOiAiYmxvZy8wMDAxLzAxL2FkNDZkYmI0NDdjZDBlOWE2YWVlY2Q2NGNjMmJkMzMyYjBjYmNiNzkuanBlZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6IDkwMCwiaGVpZ2h0IjowLCJmaXQiOiJjb3ZlciJ9fX0=" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Audon Padilla Torres File Archive
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

