<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid mb-3">
    <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;"> 
        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Another Link</a>
        </li>
        <li>
      </li> 
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>

          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/myprofile">
              {{ current_user.gname }} 
            </a>
            
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>  

<!---->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Links
      </a>
      <ul class="dropdown-menu">
        <div class="container text-center">
          <div class="row">
            <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark rounded-end">
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="base.html">- base/Home Page?</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="aboutus.html">- aboutus.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="blank_form.html">- blank_form.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="blog.html">- blog.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                <a class="nav-link active" aria-current="page" href="blogform.html">- blogform.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="blogs.html">- blogS.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="commentform.html">- commentform.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="index.html">- index.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="login.html">- login.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="profileform.html">- profileform.html</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li>
                  <a class="nav-link active" aria-current="page" href="profilemy.html">- profilemy.html</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ul>
    </li>
  </ul>
</div>
<!---->