<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Put the title of your app here-->
    <title>About Us</title>
    <!--This is where the link to the favicon and local CSS file goes.  The files that are referenced are in the static folder.-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Bootstrap links go here-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid mb-3">
            <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;">
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Clinics
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/clinic/map">Map</a></li>
                            <li><a class="dropdown-item" href="/clinic/list">List</a></li>
                        </ul>
                    </li>
                    <li>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myprofile">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---->
    <!---->
    <!---->
    <!--22222-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!--image/logo fill in-->
                <img src="https://d32qe1r3a676y7.cloudfront.net/eyJidWNrZXQiOiJibG9nLWVjb3RyZWUiLCJrZXkiOiAiYmxvZy8wMDAxLzAxL2FkNDZkYmI0NDdjZDBlOWE2YWVlY2Q2NGNjMmJkMzMyYjBjYmNiNzkuanBlZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6IDkwMCwiaGVpZ2h0IjowLCJmaXQiOiJjb3ZlciJ9fX0="
                    alt="Logo" width="50" height="45" class="d-inline-block align-text-top">
                <a class="navbar-brand" href="#">
                    Recording Events APP
                </a>
                <!---->
            </a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <!--navbar button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!---->
            </form>


            <!---->
            <!---->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="container-fluid">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Site Links
                        </a>
                        <ul class="dropdown-menu">
                            <div class="container text-center">
                                <div class="row">
                                    <div
                                        class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
                                        <ul class="navbar-nav">
                                            <li>
                                                <a class="nav-link active" aria-current="page" href="base.html">-
                                                    base/Home Page?</a>
                                            </li>
                                        </ul>
                                        <ul class="navbar-nav">
                                            <li>
                                                <a class="nav-link active" aria-current="page" href="aboutus.html">-
                                                    aboutus.html</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link active" aria-current="page" href=""><!--Text--></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---->
    <!---->
    <!--333-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid mb-3">
            <!---->
            <a class="navbar-brand" href="#">
                <!--image/logo fill in-->
                <img src="https://d32qe1r3a676y7.cloudfront.net/eyJidWNrZXQiOiJibG9nLWVjb3RyZWUiLCJrZXkiOiAiYmxvZy8wMDAxLzAxL2FkNDZkYmI0NDdjZDBlOWE2YWVlY2Q2NGNjMmJkMzMyYjBjYmNiNzkuanBlZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6IDkwMCwiaGVpZ2h0IjowLCJmaXQiOiJjb3ZlciJ9fX0="
                    alt="Logo" width="50" height="45" class="d-inline-block align-text-top">
                <a class="navbar-brand" href="#">
                    Recording Events APP
                </a>
                <!---->
            </a>
            <!---->
            <a class="navbar-brand .navbar-text display-1 font-weight-bold" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 display-7" style="margin: 0% 37%;">
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Page links
                        </a>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Site Links
                            </a>
                            <ul class="dropdown-menu">
                              <div class="container text-center">
                                <div class="row">
                                  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 bg-dark">
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="base.html">-
                                          base/Home Page?</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="aboutus.html">-
                                          aboutus.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="blank_form.html">-
                                          blank_form.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="blog.html">-
                                          blog.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="blogform.html">-
                                          blogform.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="blogs.html">-
                                          blogS.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="commentform.html">-
                                          commentform.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="index.html">-
                                          index.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="login.html">-
                                          login.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="profileform.html">-
                                          profileform.html</a>
                                      </li>
                                    </ul>
                                    <ul class="navbar-nav">
                                      <li>
                                        <a class="nav-link active" aria-current="page" href="profilemy.html">-
                                          profilemy.html</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </ul>
                          </li>
                        <!--<ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="base.html"></a>base/Home Page?</li>
                            <li><a class="dropdown-item" href="aboutus.html"></a>aboutus.html</li>
                            <li><a class="dropdown-item" href="blank_form.html"></a>blank_form.html</li>
                            <li><a class="dropdown-item" href="blog.html"></a>blog.html</li>
                            <li><a class="dropdown-item" href="blogform.html"></a>blogform.html</li>
                            <li><a class="dropdown-item" href="blogS.html"></a>blogS.html</li>
                            <li><a class="dropdown-item" href="commentform.html"></a>commentform.html</li>
                            <li><a class="dropdown-item" href="index.html"></a>index.html</li>
                            <li><a class="dropdown-item" href="login.html"></a>login.html</li>
                            <li><a class="dropdown-item" href="profileform.html"></a>profileform.html</li>
                            <li><a class="dropdown-item" href="profilemy.html"></a>profilemy.html</li>
                        </ul>-->
                        
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myprofile">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!---->
    <!---->
    <!---->
    < <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
        </script>
</body>

</html>