<!-- This is a blank template.  You can copy this to make a new template page. -->
{% extends 'base.html' %}

{% block body %}
<br><br><br>
<div class="container text-center">
    <div class="row">
        <h1>About Us</h1>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5">
            <!---->
            <h3>
                Project author blurbs + photos
            </h3>
            <ul>
                <li>
                    <h6>
                        Why does it matter to Me?
                    </h6>
                    I am curious about the impacts climate change on the environment and want to
                    learn
                    about ways to address the damages done.
                </li>
            </ul>
            <!---->
        </div>
        <img src="/static/World5.png" alt="Logo" width="1120" height="538" class="d-inline-block align-text-top">
        <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5">
            <!---->
            <h3>
                Role of each project member
            </h3>
            <ul>
                <li>
                    <h6>
                        Front end (take ownership over the coding of html, bootstrap, css parts of the project)
                    </h6>
                    - Audon
                </li>
                <li>
                    <h6>
                        Back end (take ownership over the python, flask, database stuff)
                    </h6>
                    - Audon
                </li>
                <li>
                    <h6>
                        User and design: wireframe, design pages and features, interview users etc…
                    </h6>
                    - Audon
                </li>
            </ul>
            <!---->
        </div>
        <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5">
            <!---->
            <h3>
                Purpose of the project
            </h3>
            <ul>
                <h6>
                    Specific topic
                </h6>
                <li>
                    Examining climate change and its impacts around the world; at different scales, local,
                    national and global. Specifically different events such as, wildfires, tornados, heat waves,
                    droughts,
                    floods,
                    hurricanes, and melting polar ice caps.
                </li>
            </ul>
            <ul>
                <h6>
                    Why does it matter to other people?
                </h6>
                <li>
                    It matters to other people because weather and climate patterns can put
                    lives at risk. There have been far more extreme floods, tornadoes, wildfires and many more natural
                    disasters.
                    People want to know how their homes will be affected.
                </li>
            </ul>
            <!---->
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock %}