<!-- Base is a special html file that is the wrapper for all other templates.
This is where the meta code is and any code you want to show up on every page
like the navbar. -->

<!DOCTYPE html>
<!--This is the base template. The code on this page shows up on every page. The other template files are all embedded in this file. -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Put the title of your app here-->
  <title>About Us</title>
  <!--This is where the link to the favicon and local CSS file goes.  The files that are referenced are in the static folder.-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Bootstrap links go here-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!--This is some javascript tools for displaying date and time that doesn't work right now
      Each line needs to be surrounded by curly brackets to work.-->
  <moment.include_moment()>
</head>

<body>
  <!--This is where the navbar is placed.  The navbar code is in the includes folder -->
  @@include('./_navbar.html')
  {% include "./templates/_navbar.html" %}
  <!--<include 'includes/_navbar.html'></include>-->
  
  <!-- Flask has a messages feature called "Flash" where you can pass messages to the template from the code.  This is where those messages are displayed -->
  <with messages=get_flashed_messages()></with>
  <if messages></if>
  <!--Navbar -->
  <!--Navbar-->
  <endif></endif>
  <endwith></endwith>
  <!---->
  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
    <div class="row">
      <h1>
        Project author blurbs + photos
      </h1>
    </div>
  </div>
  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
    <div class="row">
      <p>
        Text box
      </p>
    </div>
  </div>
  <!---->
  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
    <div class="row">
      <h1>
        Role of each project member
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          Front end (take ownership over the coding of html, bootstrap, css parts of the project) - Audon
        </li>
      </ul>
    </div>
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          Back end (take ownership over the python, flask, database stuff) - Audon
        </li>
      </ul>
    </div>
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          User and design: wireframe, design pages and features, interview users etc… - Audon
        </li>
      </ul>
    </div>
  </div>
  <!---->
  <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
    <div class="row">
      <h1>
        Purpose of the project
      </h1>
    </div>
  </div>
  <img src="https://www.geographyinthenews.org.uk/media/3102/tywydd.png" alt="Logo" width="1120" height="538"
    class="d-inline-block align-text-top">
  <div class="row">
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          Specific topic: Examining climate change and its impacts around the world; at different scales, local,
          national and global. Specifically different events such as, wildfires, tornados, heat waves, droughts, floods,
          hurricanes, and melting polar ice caps.
        </li>
      </ul>
    </div>
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          Why does it matter to Me?: I am curious about the impacts climate change on the environment and want to learn
          about ways to address the damages done.
        </li>
      </ul>
    </div>
    <div class="col p-3 bg-info bg-opacity-40 border border-info border-start-5 rounded-end">
      <ul>
        <li>
          Why does it matter to other people?: It matters to other people because weather and climate patterns can put
          lives at risk. There have been far more extreme floods, tornadoes, wildfires and many more natural disasters.
          People want to know how their homes will be affected.
        </li>
      </ul>
    </div>
  </div>
  <!---->
  <div class="container pt-3">
    <block body></block>
    <endblock></endblock>
  </div>
  <!---->
  <!-- Footer -->
  
  <!-- Footer -->
  <!---->
  <include 'includes/_footer.html'></include>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>