{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All eventeventlocations</h1>
    </div>
    <div class="col">
        <a href="/eventlocation/new" class="btn btn-primary btn-sm mt-5" role="button">New eventlocation</a>
    </div>
</div>

{% if eventeventlocations %}
    {% for eventlocation in eventeventlocations %}
        <div class="row border">
            <div class="col-1 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5"></h3>
                {% endif %}

                <a href="/eventlocation/delete/{{eventlocation.id}}">
                    <img width="25" class="bottom-image" src="/static/delete.png">
                </a>
                <a href="/eventlocation/edit/{{eventlocation.id}}">
                    <img width="25" class="bottom-image" src="/static/edit.png">
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                <h3 class="display-0.5">Date</h3>
                {% endif %}

                <a href="/eventlocation/{{eventlocation.id}}">
                    {{moment(eventlocation.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Name</h3>
                {% endif %}
                {{eventlocation.name}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Address</h3>
                {% endif %}
                {{eventlocation.streetAddress}} <br>
                {{eventlocation.city}}, {{eventlocation.sate}}  {{eventlocation.zip}}
            </div>
            <div class="col-2 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">Description</h3>
                {% endif %}
                {{eventlocation.description}}
            </div>
            <div class="col-3 border">
                {% if loop.index == 1 %}
                    <h3 class="display-0.5">lat/lon</h3>
                {% endif %}
                {{eventlocation.lat}}/{{eventlocation.lon}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No eventeventlocations</h1>
{% endif %}

{% endblock %}