<!-- this is going to look WACKY i am in the midst of working on it. Sorry :( - Sylvie  -->

{% extends 'base.html' %}

    {% block body %}
    
    {% if eventlocation %}
    
    {{moment(eventlocation.createdate).calendar()}} by {{eventlocation.author.username}} 
    {% if eventlocation.modifydate %}
        modified {{moment(eventlocation.modifydate).calendar()}}
    {% endif %}
    <br>
        {% if eventlocation.author == current_user %}
            <a data-toggle="tooltip" data-placement="top" title="Delete eventlocation" href="/eventlocation/delete/{{eventlocation.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit eventlocation" href="/eventlocation/edit/{{eventlocation.id}}">
                <img width="40" class="bottom-image" src="/static/edit.png">
            </a>
        {% endif %}
    
        <h1 class="display-5">Name:  {{eventlocation.name}}</h1>
        <p class="fs-3 text-break">
                {{eventlocation.content}}
        </p>
        <p class="fs-3 text-break">
            {% if eventlocation.author.image %}
                <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(eventlocation.author.image.read())}}">
            {% endif %}
                {{eventlocation.content}}
        </p>
        <h1 class="display-5">
            {{eventlocation.streetAddress}} <br>
            {{eventlocation.city}} {{eventlocation.state}} {{eventlocation.zipcode}}
        </h1>
        <p class="fs-3 text-break"> 
                {{eventlocation.content}}
        </p>
        <h1 class="display-5">Description: {{eventlocation.description}}</h1>
        <p class="fs-3 text-break">
                {{eventlocation.content}}
        </p>
        
    {% else %}
        <h1 class="display-5">No eventlocation</h1>
    {% endif %}
    
    {% endblock %}


   <!--{% if eventlocation.author.image %}
                <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(eventlocation.author.image.read())}}">
            {% endif %} 
            
            this is the code for the images, i took it out of 
            the code but even when the code was still there i didn't see the pictures for some reason--->